@use 'variables' as *;
@use 'mixins' as *;
@use 'font' as *;
@use 'buttons' as *;
@use 'form' as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  sans-serif;
  line-height: 1.7;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--bg);
  color: var(--text);

  font-size: 17px;
  @include mobile-screen {
    font-size: 16px;
  }
}


body {
  // height: 100%;
  // overflow-x: hidden;
  // overflow-y: hidden;
}

// at bottom of articles
hr {
  border-left: none;
  border-top: 1px solid var(--hr);
  border-radius: 1px;
}
