:root {
  --side-p: 8%;
  @include mobile-screen {
    --side-p: 5%;
  }

  // main border radius
  --b-r: 0.4em;

  // a tags
  --link: #0000be;


  // colors
  --white-1: #fefefe;
  --white-2: #eeeeee;
  --white-3: #e5e7eb; // border
  --white-4: #cdcdcd;
  --white-5: #bcbcbc;
  --white-6: #aaaaaa;

  --black-1: #000000;
  --black-2: #111111;
  --black-3: #121212; // title
  --black-4: #222222;
  --black-5: #232323; // paragraph
  --black-6: #333333;
  --black-7: #666666;
  --black-8: #999999;
}

.light {
  --bg: var(--white-1);
  --hr: var(--white-5);

  --text: var(--black-5);
  --title-border: var(--white-4);
  --toc-item: var(--black-6);
  --alert: var(--black-7);

  --button: var(--white-3);

  --button-dark: var(--white-3);
  --button-light: var(--black-4);

  --link-hover: var(--white-3);
  --nav-link: var(--black-7);

  --border: var(--black-8);
}
